* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


header {
    position: sticky;
    top: 0;
    background-color: white;
}

section .row {
    margin-top: 60px;
}

.container-fluid .navbar-brand {
    font-size: 35px;
    font-weight: bold;
    color: gray;
}


.container-fluid .navbar-brand a {
    margin-right: 20px;
}


form {
    display: flex;
    align-items: center;
}

span {
    font-size: 20px;
}

.btn1 {
    width: 200px;
    height: 55px;
    margin-left: 30px;
    border: 2px solid blue;
    background-color: rgb(59, 59, 255);
    color: white;
    width: 200px;
    border-radius: 4px;
    
}


.conteudo  .primeiro-h1 {
    font-weight: 500;
    font-size: 60px;
    margin-top: 30px;
}

.conteudo .Primeiro-p {
    color: black;
    font-size: 20px;
    margin-top: 30px;
    letter-spacing: 1px;
}

.conteudo .primeiro-spam {
    color: blue;
    font-weight: 500;
}

.conteudo .btn {
   border: 2px solid blue;
   background-color: rgb(59, 59, 255);
   color: white;
   width: 200px;
    height: 55px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.conteudo .spam2 {
    color: blue;
}

.section2 .section2-paragrafo{
    color: gray;
    font-weight: 600;
}

.section2 .section2-imagem {
    height: 50px;
    width: 900px;
    margin-bottom: 90px;
}

.section3 {
    background-image: url("./img/terra7.jpg");
    background-size: cover;
    height: 600px;
    color: white;    
}

.section3 h1, h4{
    text-align: center;
}

.section3 h1 {
    padding-top: 70px;
    font-size: 60px;
    padding-bottom: 30px;
}

.section3 h4 {
    padding-bottom: 20px;
    text-align: center;
    font-size: 40px;
    padding-bottom: 20px;

}

.section3-div {
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
}

.section3-div .section3-div-conjunto h5 {
    font-size: 25px;
    padding-left: 10px;
}

.section3-div .section3-div-conjunto i {
    border: 2px solid grey;
    border-radius: 6px;
    background-color: grey;
    height: 60px;
}


.section3-div .section3-div-conjunto i {
    font-size: 50px;
}

.section3-div .section3-div-conjunto {
    display: flex;
}


/* Outra section */

.dmeu .primeiro{
    padding-top: 2000px;
}

.container .dmeu {
    margin-top: 100px;
    margin-bottom: 200px;
}

.container .segundo h2 {
    font-size: 40px;
    margin-bottom: 40px;
}

.content {
    display: flex;
    margin-top: 20px;
    font-size: 25px;
}

/* Botao */

.dmeu .btn1 {
    margin-top: 40px;
}

 .btn1{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
 .btn1:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    /* top: 0; */
    right: -20px;
    transition: 0.5s;
  }
  
 .btn1:hover {
    padding-right: 25px;
  }
  
 .btn1:hover:after {
    opacity: 1;
    right: 0;
  }


/* Botao */



/* Outra Div */

.continuacao h1{
    text-align: center;
    font-size: 55px;
}

.continuacao .cardapio {
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
}

.cardapio .card .card-body .card-title {
    text-align: center;
}

.cardapio .card .card-body .card-title span{
    color: blue;
}

.cardapio .card .card-body btn {
    display: flex;
    justify-content: center;
}

.card-body .card-title {
    font-size: 21px;
    padding-bottom: 10px;
}

.card-body ul li {
    font-size: 20px;
}

.card-conteudo .card-conteudo-div{
   display: flex;
}





