* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


header {
    position: sticky;
    top: 0;
}

section .row {
    margin-top: 60px;
}

.container-fluid .navbar-brand {
    font-size: 35px;
    font-weight: bold;
    color: gray;
}


.container-fluid .navbar-brand a {
    margin-right: 20px;
}


form {
    display: flex;
    align-items: center;
}

span {
    font-size: 20px;
}

.btn1 {
    width: 200px;
    height: 55px;
    margin-left: 30px;
    border: 2px solid blue;
    background-color: rgb(59, 59, 255);
    color: white;
    width: 200px;
    border-radius: 4px;
    
}


.conteudo  .primeiro-h1 {
    font-weight: 500;
    font-size: 60px;
    margin-top: 30px;
}

.conteudo .Primeiro-p {
    color: black;
    font-size: 20px;
    margin-top: 30px;
    letter-spacing: 1px;
}

.conteudo .primeiro-spam {
    color: blue;
    font-weight: 500;
}

.conteudo .btn {
   border: 2px solid blue;
   background-color: rgb(59, 59, 255);
   color: white;
   width: 200px;
    height: 55px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.conteudo .spam2 {
    color: blue;
}

.section2 .section2-paragrafo{
    color: gray;
    font-weight: 600;
}

.section2 .section2-imagem {
    height: 50px;
    width: 900px;
    margin-bottom: 90px;
}